*{
  margin: 0;
  padding: 0;
}
.footer {
  background-color: #333; /* Set your desired background color */
  color: #fff; /* Set text color */
  width: 100%; /* Make the footer fill the width of the screen */
  padding: 20px 0; /* Add some padding for better appearance */
}

.container {
  max-width: 1200px; /* Optional: Add a max-width to center content */
  margin: 0 auto; /* Optional: Center the content */
}
.search-bar{
  border-radius: 2px;
}
.search-bar:hover{
  background-color: aquamarine;
}