* {
  margin: 0;
  padding: 0;
}
.footer {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 1%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.search-bar {
  border-radius: 2px;
}
.search-container {
  display: flex;
  flex-grow: 1;
}

.nav-bar {
  background-color: black;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-nav {
  display: flex;
  margin-left: 1rem;
}
.product-view{
  display: grid;
  grid-template-areas: 
  "pname pname"
  "pcarousel pdescription"
  "pcarousel pdescription";
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 2fr 5fr 5fr;
  height: 100vh;
  width: 100%;
}

.product-name{
  grid-area: pname;
  background-color: #a1d4f2;
}
.product-carousel{
  grid-area: pcarousel; 
  background-color: black;
}
.product-description{
  grid-area: pdescription;
  background-color: #6d3a3a;
  overflow: auto;
}
.carousel-indicators {
position: relative;
}


.main {
  min-height: 80vh;
}
.main-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.main-grid-item {
  background-color: gray;
  border: 15px solid white;
  height: 20vh;
}
