* {
  margin: 0;
  padding: 0;
}
.footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  bottom: 0;
  width: 100%;
}
.card-detail {
  display: flex;
}
.carousel {
  border-radius: 1rem;
}
/*Cart styles*/
.cart-view {
  display: grid;
  grid-template-areas:
    "cartItems cartDetails"
    "cartItems cartProducts";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 3fr;
  min-height: 100vh;
  width: 100%;
}
.cart-items {
  grid-area: cartItems;
}
.cart-details {
  grid-area: cartDetails;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-products {
  grid-area: cartProducts;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.cart-item {
  display: flex;
  justify-content: space-between;
}
/*-----------*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.search-bar {
  border-radius: 2px;
}
.search-container {
  display: flex;
  flex-grow: 1;
}

.nav-bar {
  background-color: black;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-nav {
  display: flex;
  margin-left: 1rem;
}
.payments {
  display: flex;
}
.product-view {
  display: grid;
  grid-template-areas:
    "pcarousel pdescription"
    "pcarousel pdescription";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  min-height: 100vh;
  width: 100%;
}

.product-carousel {
  grid-area: pcarousel;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 1rem;
}
.product-description {
  grid-area: pdescription;
  overflow: auto;
}
.product-title {
  padding-top: 0.5rem;
  text-align: center;
}
.profile-container {
  display: flex;
  justify-content: center;
  width: 100% ;
}
/*Publicaton View*/
.publication-view {
  display: grid;
  grid-template-areas:
    "pheader"
    "pbody";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  min-height: 100vh;
  width: 100%;
}
.publication-view header {
  grid-area: pheader;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.publication-view .body {
  grid-area: pbody;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
/**/
.publication-details {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.quantity {
  display: flex;
  margin-left: 1rem;
  justify-content: center;
  border: 1px solid black;
  height: 5%;
  width: 5%;
}
.seller-desc {
  display: flex;
  flex-direction: column;
}
.seller-tag {
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
}
.main-carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1rem;
}

.main {
  min-height: 80vh;
  background-color: #a1d4f2;
}
.main-item {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.main-item-container:hover {
  cursor: pointer;
}

.item-lint {
  display: inline;
}

.modal-button {
  margin-top: 20px;
}

/*Media queries*/
@media (max-width: 768px) {
  .cart-view{
    grid-template-areas:
      "cartItems"
      "cartDetails"
      "cartProducts";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    min-height: 100vh;
  }
  .cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}

.custom-select{
  width: 100%;
  height: 5vh;
  border-radius: 5px;
  border: 1px solid rgb(218, 218, 211);
}
